<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1><%= title %></h1>

	<img src="foto_autores.jpg" style="width:304px;height:228px">

    <p>Alberto Sánchez López</p>
    <p>Jorge Torres de Gabriel </p>

 	<video width="320" height="240" controls>
  	<source src="video_autores.mp4" type="video/mp4">
 	Your browser does not support the video tag.
	</video> 

	<p><a href="/">Volver</a></p>
  </body>
</html>
