      <h1>Autores</h1>
      <img src="foto_autores.jpg" style="width:304px;height:228px">
      <p>Alberto Sánchez López</p>
      <p>Jorge Torres de Gabriel </p>
      <video width="320" height="240" controls>
        <source src="video_autores.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> 