<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
    <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
  </head>
  <body>

  <div id="page-wrap">

    <header class="main" id="h1">
      <h2>Quiz: El juego de las preguntas</h2>
    </header>

    <nav class="main" id="n1" role="navegation">
        <a href="/"><div>Principal</div></a>
        <a href="/quizes/question"><div>Preguntas</div></a>
        <a href="/author"><div>Creditos</div></a>
    </nav>

    <section class="main" id="s1" postion="fixed">
      <%- body %>
    </section>

    <footer class="main" id="f1">
      <p><script>document.write(new Date());</script></p>
    </footer>

  </div>

  </body>
</html>
