<label for="preg" class="rem">Username:</label>
<p>
<input type="text" id="username" name="user[username]" value="<%= user.username %>"/> 
<p>
<label for="resp" class="rem">Password:</label>
<p>
<input type="password" id="pass" name="user[password]"/>
<p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">