body { 
	background: #FFFFFF url(../images/bg.jpg) repeat;
}

#page-wrap:after { 
	content: "Smartphone"; 
}

#page-wrap { 
	margin: 0%; 
}
header {
	padding: 3px;
}
header span{
	font-size: xx-large;
}
body { 
	font-size: large; 
}
input, button, nav { 
	font-size: medium; 
}
#barramenu{
	height: 5px;
}
footer { 
	height: 5px;
}
