body { 
	background: #FFFFFF url(../images/bg.jpg) repeat;
	min-width: 355px;
}

/*#page-wrap:after { 
	content: "Smartphone"; 
}*/

#page-wrap { 
	margin: 0%; 
}
header {
	padding: 3px;
}
header span{
	font-size: xx-large;
}
body { 
	font-size: large; 
}
#barramenu input, button{
	font-size: small;
}
input, button { 
	font-size: medium; 
}
nav{
	font-size: medium;
}
#right{
	padding: 3px 3px 3px 2px;
	font-size: 10px;
	text-align: inherit;
}
footer { 
	height: 5px;
}
