* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font: 16px Arial, serif; 
	background: #FFFFFF url(../images/bg.jpg) repeat;
	min-width: 400px;
}
#ErrorMsgs {
	color: #D90000; 
	font-size: smaler;
}

#page-wrap { 
	margin: 5px 5px 5px 5px; 
	color: white; 
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}
#page-wrap > .main { 
	margin-bottom: 0px; 
	color: black;
}
/*#page-wrap:after { 
	content: "Tablet"; 
}*/

section > div { 
	padding: 20px; 
}
header { 
	background: #D90000; 
	text-align: center;
	padding: 5px;
	border-style: solid;
    border-width: 3px 3px 0px 3px;
    border-color: #FFFFFF;
}
header span{
	color: #FFFFFF;
	font-size: 60px;
}
#barramenu { 
	background: #00468C; 
	border-style: solid;
    border-width: 0px 3px 3px 3px;
    border-color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
}
section { 
	background: #FFFFFF; 
	text-align: left;
}
footer { 
	height: 15px;
	background: #00468C; 
	text-align: center;
	border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

#contenido {
	background: #FFFFFF;
}

#right {
	float: right;
	padding-left: 1px;
}

/* MENU */
nav { 
	background: #FFFFFF; 
	font-size: large;
	border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
}
nav ul {
	list-style-type: none;
	text-align: left;
}
nav ul li { 
	display: inline; 
}
nav ul li a {
	text-decoration: none;
	padding: 2px 4px 2px 4px;
	color: #FFFFFF;
	background-color: #424251;
	border-radius: 1px;
}
.fade{
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.fade:hover {
    opacity: 0.7;
}

/* ESTILO BOTONES */

#borrar {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-weight:bold;
	font-size:11px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#borrar:hover {
	background-color:#db5a53;
}
#borrar:active {
	position:relative;
	top:1px;
}

#editar {
	-moz-box-shadow:inset 0px 39px 0px -24px #93abed;
	-webkit-box-shadow:inset 0px 39px 0px -24px #93abed;
	box-shadow:inset 0px 39px 0px -24px #93abed;
	background-color:#7ca3e6;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-weight:bold;
	font-size:11px;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
#editar:hover {
	background-color:#759CC9;
}
#editar:active {
	position:relative;
	top:1px;
}

