body { 
	background: #868695 url(../images/bg.jpg) repeat;
}

#page-wrap:after { 
	content: "Ordenador"; 
}

#page-wrap{
	margin: 30px 50px 30px 50px; 
}

nav { 
	min-height: 0px ;
}

section { 
	min-height: 400px ;
}

footer { 
	color: #FFFFFF;
	clear: both;  
	display: block; 
}